


<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Details</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="/home/hbagaria/Yelp/version_2/static/images/favicon.ico">
	<link rel="apple-touch-icon" href="/home/hbagaria/Yelp/version_2/static/images/icon.png">

	<!-- Stylesheets -->url_for('static' filenmame='')
	<link rel="stylesheet" href="/home/hbagaria/Yelp/version_2/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/home/hbagaria/Yelp/version_2/static/css/plugins.css">
	<link rel="stylesheet" href="/home/hbagaria/Yelp/version_2/static/style2.css">

	<!-- Cusom css -->
   <link rel="stylesheet" href="/home/hbagaria/Yelp/version_2/static/css/custom.css">

	<!-- Modernizer js -->
	<script src="/home/hbagaria/Yelp/version_2/static/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Add your site or application content here -->
	
	<!-- <div class="fakeloader"></div> -->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
        <!-- Start Blog List View Area -->
        <section class="blog__list__view section-padding--lg menudetails-right-sidebar bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="food__menu__container">
                            <div class="food__menu__inner d-flex flex-wrap flex-md-nowrap flex-lg-nowrap">
                                <div class="food__menu__thumb">
                                    <img src="/home/hbagaria/Yelp/version_2/static/images/banner/details/1.jpg" alt="images">
                                </div>
                                <div class="food__menu__details">
                                    <div class="food__menu__content">
                                        <h2>{{ info }}</h2>
                                        <ul class="food__dtl__prize d-flex">
                                            <li class="old__prize">$50</li>
                                            <li>$40</li>
                                        </ul>
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp incid dunt ut labo dolore magna aliqua. Ut enim ad minim veniaquis nostrud exercit ullamco laboris nisi ut aliq.</p>
                                        <div class="product-action-wrap">
                                            <div class="prodict-statas"><span>Food Type : Taco</span></div>
                                            <div class="product-quantity">
                                                <form id='myform' method='POST' action='#'>
                                                    <div class="product-quantity">
                                                        <div class="cart-plus-minus">
                                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">
                                                            <div class="add__to__cart__btn">
                                                                <a class="food__btn" href="cart.html">Add To Cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog List View Area -->
   

	<!-- JS Files -->
	<script src="/home/hbagaria/Yelp/version_2/static/js/vendor/jquery-3.2.1.min.js"></script>
	<script src="/home/hbagaria/Yelp/version_2/static/js/popper.min.js"></script>
	<script src="/home/hbagaria/Yelp/version_2/static/js/bootstrap.min.js"></script>
	<script src="/home/hbagaria/Yelp/version_2/static/js/plugins.js"></script>
	<script src="/home/hbagaria/Yelp/version_2/static/js/active.js"></script>
</body>
</html>


